body {
    font-family: Arial, sans-serif;
    background-color: #ebeaea;
    margin: 0;
  }
  
  #logo {
    width: 100px;
    height: 100px;
    margin-left: auto;
    display: block;
  }
  
  .noticeboard {
    background: url('noticeboard-background.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
  }
  
  .video-links {
    list-style: none;
    padding: 0;
  }
  
  .video-links li {
    margin: 10px 0;
  }
  
  .video-links a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  .video-links a:hover {
    text-decoration: underline;
  }
  